{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
</head>
<body>
    <form action="" method = 'post'>
        <h2 class = "formheading">Login</h2><br><br>
        {% csrf_token %}
        
        <label for="">Username</label> 
        <input type="text" placeholder="Enter you username" name = "username" required class = "formfield">
        <br><br>
        <label for="">Password</label> 
        <input type="password" placeholder="Enter you Password" name = "password" required class = "formfield">
        <br><br>
        <button type="submit">Submit</button>

    </form>
</body>
</html>